.env
.venv
node_modules
*.zip
*.rar
__pycache__
traces
*.pyc
# Debug / generated outputs
app.log
mytest2/llm1_debug/
mytest2/preflight_refresh_test/
mytest2/questionnaire_handler/chain_debug/
mytests/outputs/uied_runtime/
4-30-debug
5.2_app批量测试
论文写作
docs
LLM图片交互测试
.gitignore
OCR-UIED-test
test_5_12
mytest2/capture_and_process_debug_local
mytest2/mytest2
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/session_meta.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/analysis_summary.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/nav_input.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/nav_output.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/router_input.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/router_matched_blocks.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/router_output.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/screenshot_raw.png
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/screenshot.png
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/snap.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/summary.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/uist.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/vid_map_overlay.png
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/vid_map.json
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/xml_raw.xml
mytest2/llm_nav_router_debug/20260514_162722_com.maimemo.android.momo/step_001/xml.xml
test_10/001_com.playgendary.kickthebuddy_6D9D76B79629.apk
test_10/002_onet.tile.match.puzzle.android_663834850B01.apk
test_10/003_com.agedstudio.card.solitaire.klondike_B1C2646B681C.apk
test_10/004_com.beat.cat.dancing.hop.tiles.music.game_BC74563AE88F.apk
test_10/005_easy.sudoku.puzzle.solver.free_56D16E170D7A.apk
test_10/006_com.ea.game.nfs14_row_B6F7A8598921.apk
test_10/007_com.soccer.score.star_8A7B48923D90.apk
test_10/008_com.fatchicken007.headsupcharades2_A1BCE78BC10D.apk
test_10/009_com.vblast.flipaclip_8016A9004038.apk
test_10/010_luma.sora.pika.runway.video.ai_91E53568E3ED.apk
